
    <!--Navigation-->        
    <div ng-init="aCtrl.checkAuth()" id="authorize-div"> 
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header row">
                <form class="navbar-form navbar-left col-xs-2">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
              </form>
              <a class="navbar-brand col-xs-7" href="#">
                <center><img alt="Brand" src="../images/long.png"></center>
              </a>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#/nav/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mr. Degonda <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#/nav/#">Action</a></li>
                    <li><a href="#/nav/#">Another action</a></li>
                    <li><a href="#/nav/#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#/nav/#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
<!--End Navigation-->



<!--APP-->
<div ng-controller="infiniteScrollController as users" id="content">
    <!--Loading svg-->
<img ng-src="../images/infinity.gif" ng-show="aCtrl.loading" />
    <div infinite-scroll="getMoreData()" infinite-scroll-distance='2' class="course-group">
        <div ng-repeat="course in aCtrl.courses" class="userContainer">
            <div id="course-data">
                <div id="course-name">
                    {{course.name}}
                </div>
                <div id="description">
                </div>
                <div id="teacher-group"> 
                    <a href="mailto:{{course.teacherGroupEmail}}">Email to Collaborate</a>
                </div>
                <div id="image">

                    <a ng-href="{{course.teacherFolder.alternateLink}}"><img src="https://www.google.com/drive/images/drive/logo-drive.png" /></a>          
                </div>
            </div>
        </div>
    </div>
</div> 




