<div ng-controller="Signin" class="session">
    <div class="session__background"></div>
    <div class="session__login">
        <img src="../images/logo_small_login.png" alt="Lesson Lace">
        <h1>Log in to Harambe</h1>
        <div class="session__login__social">
            <button class="button button__social button__social-facebook">Log in with Facebook</button>
            <button class="button button__social button__social-google">Log in with Google</button>
        </div>
        <div class="session__login__or">
            <span>or</span>
        </div>

        <form name="form" ng-submit="$ctrl.submit(form)">
            <div class="session__field">
                <input name="email" type="email" placeholder="Email" autofocus="autofocus"
                ng-model="$ctrl.user.email"
                required>
            </div>

            <div class="session__field">
                <input name="password" type="password" placeholder="Password" autocomplete="off"
                ng-model="$ctrl.user.password"
                minlength="8"
                required>
            </div>

            <div class="session__actions">
                <input type="submit" value="Log In">
            </div>
        </form>

        <p class="session__links">
            <a href="#">Forgot your Password?</a>
        </p>
        <p class="session__tos">
            Creating an account means you accept Lesson Lace’s
            <br>
            <a href="#">Terms of Service</a> &amp; <a href="#">Privacy Policy</a>
            <br>
            <br>
            <br>
            <a href="#/">SIGN UP</a>
        </p>
    </div>
</div>
