/*content container*/
img#load{
    position: relative;
    margin: 0 auto;
    display: block;
}

/*Navigation*/
ul.nav.navbar-nav.navbar-right {
    padding-right: 30px;
}
.navbar-header.row {
    width: 100%;
}
.navbar-brand{
    padding: 5px 5px;
}

.userContainer{
    width: 330px;
    height: 100%;
    padding: 25px;
    font-family: roboto;
    margin: 7px;
    box-shadow: 1px 1px 1px 1px;
    float: left;
}
.userContainer p{
    font-size: 12px;
}
#image img{
    width: 25px;
}
.course-group.ng-isolate-scope {
    padding-left: 25px;
}