.session {
	background:#5d5d5d
}
.session,.session__background {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}
.session__background {
	background-color:#110a03;
	background-image:url(/images/login_background.png);
	background-position:50%;
	background-repeat:no-repeat;
	opacity:.8;
	z-index:1
}
.session__container {
	background:url(/images/signup_background.png);
	width:70vw;
	height:75vh;
	margin:4em auto 1em;
	z-index:1;
	text-align:center
}
.session__header {
	padding-top:.2em;
	font-size:1.4em;
	color:#fff;
	text-shadow:0 2px 4px rgba(0,0,0,.5);
	text-align:center
}
.session__header h1 img {
	width: 150px;
}
.session__login img {
	width: 150px;
}
.session__header h2 {
	font-size:1.6em;
	margin-bottom:0;
	font-weight:500
}
.session__header h3 {
	margin-top:.3em;
	font-size:.9em;
	font-weight:200;
	margin-bottom:2em
}
.session__sign_up {
	display:inline-block;
	width:25%;
	text-align:center;
	color:#fff;
	min-width:350px
}
.session .sellbar {
	text-align:center
}
.session .sellbar img {
	width:300px
}
.session__login {
	position:relative;
	z-index:9;
	width:25%;
	margin:7em auto 0;
	text-align:center;
	min-width:350px;
	color:#fff
}
.session__login__or {
	font-size:1.5em;
	margin:.3em
}
.session__login__or span {
	display:inline-block;
	width:10%
}
.session__login__or:after,.session__login__or:before {
	content:'';
	border-top:1px solid #fff;
	width:43%;
	height:10px;
	display:inline-block;
	position:relative;
	top:4px
}
.session__login__or:before {
	right:6px
}
.session__login__or:after {
	left:4px
}
.session__reset {
	width:50vw;
	max-width:350px;
	margin:3em auto;
	text-align:center
}
.session__reset h1 {
	color:#fff
}
.session__reset input {
	margin-bottom:1em
}
.session h1 {
	text-shadow:0 2px 4px rgba(0,0,0,.5)
}
.session input {
	border-radius:5px;
	border:none;
	font-size:1.1em;
	padding:.4em .7em;
	width:100%;
	outline:none
}
.session input.ng-dirty.ng-invalid {
	border:1px solid #f24033
}
.session__field input {
	border:1px solid #fff;
	box-sizing:border-box;
	margin-bottom:.5em
}
.session__actions input {
	background:#83c8fe;
	color:#fff;
	cursor:pointer;
	margin-top:.8em
}
.session__links a,.session__tos,.session__tos a {
	color:#9b9b9b;
	text-shadow:0 1px 2px rgba(0,0,0,.5)
}
.session__tos {
	font-size:.6em;
	line-height:130%
}
